@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

/* Prevent layout jump on load */
@media (min-width: 1024px) {
    .sidebar-expanded aside {
        width: 250px !important;
        min-width: 250px !important;
        opacity: 1 !important;
        transform: translate(0, 0) !important;
        transition: none !important;
    }
}
